.cottonPage {
  width: 100%;
  overflow-x: hidden;
}

.cottonPage :global(nav[class*="navbar"]) {
  background: linear-gradient(
    90deg,
    rgba(0, 194, 177, 0.15) 0%,
    rgba(0, 201, 237, 0.15) 100%
  ) !important;
}
